{% extends "layouts/default.htm.twig" %}
{% block title %} Главная страница {% endblock %}

{% block content %}
    {% if tasks %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="/?page={{ page }}&sort=status&order={{ order }}">Status</a></th>
                <th scope="col"><a href="/?page={{ page }}&sort=username&order={{ order }}">Username</a></th>
                <th scope="col"><a href="/?page={{ page }}&sort=email&order={{ order }}">Email</a></th>
                <th scope="col">Text</th>
                {% if (session.admin) %}
                    <th scope="col">Изменить</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr {% if (task.status) %}class="task__checked" {% endif %}>
                    <th scope="row">{{ task.id }}</th>
                    <th>
                        <input type="checkbox"
                                {% if (task.status) %}
                                    checked
                                {% endif %}
                               disabled
                        >
                    </th>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.text|raw }}
                    <span>{% if (task.edited) %} Изменено администратором {% endif %}</span></td>
                    {% if (session.admin) %}
                        <td><a href="/edit/{{ task.id }}" class="btn btn-outline-primary">Изменить</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}



    {% else %}

        <h2>Список пуст</h2>

    {% endif %}

{% endblock content %}